a {
  color:black;
  text-decoration: none;
  margin: 0 20px;
}

h1 {
  padding:0px 20px;
  color: black;
}

h2 {
  margin-bottom: 20px !important;
  font-family: 'Montez', cursive;
  text-align: center;
}

h3 {
  font-family: 'Montez', cursive;
  text-align: center;
}

.about-us {
  text-align: center;
}

.ant-carousel {
  height: 100px;
  width: 300px;
}

.ant-form-item-row {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.container {
  min-height: 70vh;
}

.footer {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon {
  width: 20px;
}

.icons{
  display: flex;
  justify-content:space-evenly;
}

.post-btn {
  margin: 0 5px;
}

.post-btns {
  display: block;
  margin-left: 80%;
}

.post-container {
  display: flex;
  margin: 0 50px 30px 50px;
  border-style: solid;
  border-radius: 20px;
  height: fit-content;
}

.post-detail {
  height:auto;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.post-img {
  object-fit: cover;
  margin: 10px ;
}

.profile{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 10px;
}

.report-pet-form {
  display: flex;
  justify-content: center;
}

.slogan {
  margin-bottom: 3%;
}

@media screen and (max-width:950px) {
  .slogan {
    display: none;
  }
}

@media screen and (max-width:800px) {
  .ant-carousel {
    height: 200px;
    width: 300px;
  }

  .post-container {
    display: flex;
    flex-direction: column;
    margin: 0 50px 30px 50px;
    border-style: solid;
    border-radius: 20px;
  }

  .slogan {
    display: none;
  }
}

@media screen and (max-width:430px) {
  .post-container {
    margin: 5px;
  }
}