h1 {
  padding:0px 20px;
  color: black;
}

h2 {
  margin-bottom: 20px !important;
  font-family: 'Montez', cursive;
  text-align: center;
}

h3 {
  font-family: 'Montez', cursive;
}

h5 {
  margin-top: 10px;
}

.about-us {
  text-align: center;
}

.container {
  min-height: 70vh;
}

.footer {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
